
.container{
    display:grid;
    grid-template-columns: 120px 120px 120px;
grid-template-rows: 120px 120px 120px;
  grid-auto-flow: dense;
}


.box{
   
    height: 100px;
    width: auto;
    background-color: yellowgreen;
    margin: 5px;
  
}