.inner-container{
   
display: flex;
flex-direction: row-reverse;
}

.box{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    height: 100vh;
    width: 100px;
    margin: 5px;
}