
 body{
    box-sizing: border-box;
    margin: 0;
 }

.inner-container {

    display: flex;
    height: 100vh;
    flex-direction:row;
    justify-content: center;
     align-items: center;
    border: 1px solid grey;
    border-radius: 50px;
}

.box {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    height: 200px;
     width: 200px;
    margin: 5px;
    border-radius: 20px;
}

@media only screen and (max-width:768px){
    .box{
        display: inline-block;
        width: 100vw;
    }
}